
table {
border :1px solid black;
}
td{
border :1px solid black;
width: 1px;
}
th{
font-style: italic;
font-weight: normal;
}
thead  th{
font-style: normal;
font-weight: bold;
}
td:nth-child(2){
color: red;
}
td:nth-child(4){
color: blue;
}

tbody tr:nth-child(1),tbody tr:nth-child(3),tbody tr:nth-child(5){
background-color: lightgreen;
}

tbody tr:nth-child(2),tbody tr:nth-child(4),tbody tr:nth-child(6){
background-color: lightblue;
}



